version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "21:00"
    open-pull-requests-limit: 5
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      vite:
        patterns:
          - "vite"
          - "@vitejs/*"
      eslint:
        patterns:
          - "eslint"
          - "@typescript-eslint/*"
          - "eslint-plugin-*"
      testing:
        patterns:
          - "@testing-library/*"
          - "vitest"
          - "jsdom"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "21:00"
    open-pull-requests-limit: 10
