name: PR workflow

on:
  pull_request:
    branches:
      - master

env:
  CI: true
  MAX_WORKERS: 3

jobs:
  checks:
    name: Checks
    runs-on: monline-generic
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Typecheck
        run: npm run typecheck

      - name: Linting
        run: npm run lint

      - name: Run tests
        run: npm run test:ci
